{% load static %}
<link rel="stylesheet" href="{% static 'CSS/login.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Login</title>

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <form method="POST">
            {% csrf_token %}
            <h1>AcadNet</h1>
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
            <div class="input-box">
                <input type="text" name="usuario" placeholder="Registro Personal" required>
                <i class="bx bx-user-circle" /></i>
            </div>
            <div class="input-box">
                <input type="password" name="contrasenia" placeholder="Contraseña" required>
                <i class="bx bx-lock" /></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Recuerdame </label>
                <a href="#"> ¿Olvidaste tu contraseña? </a>
            </div>

            <button type="submit" class="btn">Login</button>

        </form>
    </div>

</body>

</html>

